---
import GeneralSection from '@components/GeneralSection.astro';
import GeneralContainer from '@components/GeneralContainer.astro';
---

<GeneralSection classList="">
	<GeneralContainer>
		<section class="documentacion" id="documentacion">
			<div class="mx-auto">
				<!-- Contenidos -->
				<div class="documentacion__contenidos" id="documentacion__contenidos">
					<slot />
				</div>
			</div>
		</section>
	</GeneralContainer>
</GeneralSection>

<style is:global>
	.documentacion__informacion--select {
		position: -webkit-sticky;
		position: sticky;
		top: 85px;
		z-index: 9999;
		width: initial !important;
		background-color: #fff;
		padding-right: 16px;
		border-radius: 12px;
		border: 1px solid transparent;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
		overflow: hidden;
		transition: border-color ease-in-out 0.3s;
		background-color: var(--color-gray-300);
	}

	.documentacion__informacion--select:has(select:focus) {
		border-color: var(--color-primary);
	}

	.documentacion__informacion--select select {
		padding: 12px 16px;
		border-color: transparent;
		border-radius: 12px;
		font-family: var(--font-family);
		text-wrap: pretty;
		line-height: 1.6em;
		width: calc(100% - 37px);
		background-color: var(--color-gray-300);
	}

	.documentacion__informacion--select select:focus {
		outline: 0;
	}

	.image {
		position: relative;
		overflow: hidden;
	}

	.image::before {
		content: '';
		position: absolute;
		inset: 0;
		z-index: 1000;
		opacity: 0.1;
		background-color: rgba(0, 0, 0, 0.3);
		user-select: none;
		pointer-events: none;
		border-radius: 16px;
		transition: opacity 0.3s ease-in-out;
	}

	.image:hover::before {
		opacity: 1;
	}
</style>
