@import 'tailwindcss';

/* Colores personalizados Tailwind*/
@theme {
	--color-primary: #018be8;
	--color-primary-dark: #017bd6;
	--color-primary-light: #d1e1ff;
	--color-secondary: #5cd7fe;
	--color-secondary-dark: #37c3fe;
	--color-accent: #f3b800;
	--color-accent-dark: #e85e00;
	--color-accent-light: #ffedea;
	--color-bg: #d8d7e3;
	--color-text: #001f3b;
	--breakpoint-2xl: 101.25rem;
}

html,
body {
	color: var(--color-text);
	text-wrap: pretty;
	scroll-behavior: smooth;
	font-family: 'Poppins', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
	font-size-adjust: 0.56;
}

.fi {
	display: inline-flex;
	align-items: center;
	text-size-adjust: 100%;
	font-size-adjust: initial;
}

:is(h1, h2, h3, h4, h5, h6) {
	text-wrap: balance;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

/* Efecto hover para links con animación */
.animation-link {
	position: relative;
	overflow: hidden;
}

.animation-link span {
	display: block;
	transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55), color 300ms ease-in-out;
}

.animation-link::after {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	content: attr(data-hover);
	display: inline;
	text-align: center;
	transition: top 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55), color 300ms ease-in-out;
}

.active-link,
.animation-link:hover {
	color: var(--color-accent);
}

.active-link span,
.animation-link:hover span {
	color: var(--color-accent);
	transform: translateY(-100%);
}
.active-link::after,
.animation-link:hover::after {
	top: 0;
}

/* Efecto hover para imágenes */
.hover-image .image {
	position: relative;
	overflow: hidden;
}

.hover-image .image::after {
	content: '';
	position: absolute;
	width: 200%;
	height: 0%;
	left: 50%;
	top: 50%;
	z-index: 1;
	pointer-events: none;
	background-color: rgba(255, 255, 255, 0.3);
	transform: translate(-50%, -50%) rotate(-45deg);
}

.hover-image .image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 1s ease-in-out;
}

.hover-image:hover .image::after {
	height: 250%;
	background-color: transparent;
	transition: translate 600ms linear, height 600ms linear, background-color 600ms linear;
}

.hover-image:hover .image img {
	transform: scale(1.1);
}

.before-transition-height::before {
	transition: height 0.3s ease-in-out;
}

.hover-image.noZoom .image img {
	transform: scale(1) !important;
}

/* Estilos para la galería de imágenes */
.pswp__img {
	object-fit: contain;
}

/* Scrollbar styles */
::-webkit-scrollbar {
	width: 16px;
}

::-webkit-scrollbar-thumb {
	background: var(--color-gray-400);
	border-radius: 10px;
	border: 4px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--color-gray-600);
}
