---
import Layout from '@layouts/Layout.astro';
import Button from '@components/Button.astro';
import Image from 'astro/components/Image.astro';
import Image404 from '@assets/404.webp';
---

<Layout title="Página no encontrada - IngeSoftNet" description="Lo sentimos, la página que buscas no existe. Regresa a la página principal de IngeSoftNet para explorar nuestros servicios y soluciones tecnológicas." bg="bg-text" classFooter="before:hidden">
	<div class="flex flex-col justify-center items-center px-4 pt-32 pb-10 2xl:pb-28 lg:pt-50 2xl:pt-64 text-white">
		<Image src={Image404} alt="Página no encontrada" title="Imagen página no encontrada" width="400" height="400" loading="eager" class="mb-6 max-w-50" />
		<h1 class="text-2xl font-bold mb-6 text-primary-light">Página no encontrada</h1>
		<p class="text-center mb-8 max-w-4xl">Lo sentimos, la página que buscas no existe. Regresa a la página principal de IngeSoftNet para explorar nuestros servicios y soluciones tecnológicas.</p>
		<Button anchor link="/" variants="primary" size="md">
			<span>Volver al inicio</span>
			<i class="fi fi-tr-home-heart"></i>
		</Button>
	</div>
</Layout>
