---
import Layout from '@layouts/Layout.astro';
import Hero from '@sections/Hero.astro';
import Button from '@components/Button.astro';
import Characteristics from '@sections/Characteristics.astro';
import Services from '@sections/Services.astro';
import Cta from '@sections/Cta.astro';
---

<Layout title="IngeSoftNet | Más que un servicio, somos una solución" description="Transformamos la gestión contable de tu empresa con soluciones de software innovadoras y personalizadas. Descubre cómo podemos ayudarte a optimizar tus procesos y alcanzar el éxito." keywords="IngeSoftNet, software contable, soluciones de software, gestión contable, optimización de procesos, software empresarial, tecnología para empresas">
	<Hero>
		<h1 class="text-white font-bold text-[clamp(32px,4vw,56px)] leading-[1.2em] tracking-[1%] lg:mx-auto mb-4 lg:mb-6">Transforma la contabilidad de tu empresa con <span class="text-primary">IngeSoftNet</span></h1>
		<p class="text-white text-lg leading-[1.6] tracking-normal max-w-2xl lg:mx-auto mb-6 lg:mb-16">Ofrecemos soluciones del software Syscafé que optimizan tus procesos contables. Nuestro equipo está listo para guiarte en cada paso hacia una gestión más eficiente.</p>
		<div class="flex items-center gap-4 justify-center flex-wrap">
			<Button anchor link="servicios" size="md" variants="primary" title="Enlace a conoce más sobre nuestros servicios" className="">
				<span>Conoce más</span>
				<i class="fi fi-rr-arrow-small-right" aria-hidden="true"></i>
			</Button>

			<!-- <Button anchor link="/contacto.html" size="md" variants="primary" title="Enlace a Contáctenos">
				<span>Contáctenos</span>
				<i class="fi fi-rr-mobile-notch" aria-hidden="true"></i>
			</Button> -->
		</div>
	</Hero>
	<Services />
	<Characteristics />
	<!-- <Gallery /> -->
	<Cta />
</Layout>
