---
import GeneralSection from '@components/GeneralSection.astro';
import GeneralContainer from '@components/GeneralContainer.astro';
import { Image } from 'astro:assets';
import Logo from '@assets/logo-Yeison-Andrés-Correa-Marín.png';
import Link from './Link.astro';
---

<GeneralSection classList="bg-[#eaf1ff]">
	<GeneralContainer>
		<section class="flex gap-10 items-center justify-center max-w-3xl mx-auto">
			<picture class="lg:w-full lg:h-full max-w-[200px] sm:w-30 sm:h-30 w-24 h-24">
				<Image src={Logo} alt="Imagen de Yeison-Andrés-Correa-Marín" loading="lazy" class="w-full h-full object-contain" title="Yeison-Andrés-Correa-Marín" />
			</picture>

			<div>
				<hgroup class="mb-10">
					<h2 class="text-xs text-primary-dark font-bold uppercase mb-2">Nuestro aliado</h2>
					<h3 class="text-6xl font-bold">Yeison Andrés Correa Marín</h3>
					<p class="m-0 text-xl">Asesorías Contables y Tributarias</p>
				</hgroup>

				<ul class="flex flex-wrap gap-10">
					<li>
						<a class="flex gap-2 mb-2 group" href="tel:+3206833225">
							<i class="fi fi-rr-phone-call text-primary group-hover:text-accent transition-colors ease-in-out duration-300"></i>
							<p class="m-0 group-hover:text-accent transition-colors ease-in-out duration-300">320 683 3225</p>
						</a>
					</li>

					<li>
						<a class="flex gap-2 group" href="mailto:yeancoma@hotmail.com">
							<i class="fi fi-rr-envelope text-primary group-hover:text-accent transition-colors ease-in-out duration-300"></i>
							<p class="m-0 group-hover:text-accent transition-colors ease-in-out duration-300">yeancoma@hotmail.com</p>
						</a>
					</li>
				</ul>
			</div>
		</section>
	</GeneralContainer>
</GeneralSection>
