---
interface Props {
	classIcon: string;
	tooltipClass: string;
}

const { classIcon, tooltipClass } = Astro.props;
---

<button class={`${classIcon} bg-gray-500 text-white cursor-pointer`} aria-label="Inicia un chat">
	<i class="fi fi-rr-user-headset text-xl lg:text-3xl justify-center"></i>
	<span class={tooltipClass}>Inicia un chat</span>
</button>

<section class="section fixed right-2 md:right-8 lg:right-30 z-50 shadow-lg rounded-4xl w-full max-w-[350px] h-[calc(100vh-8rem)] max-h-[450px] bg-white overflow-hidden transition-all duration-300 ease-in-out" id="chat-widget">
	<div class="flex items-center justify-between p-4">
		<p class="text-xl font-bold pl-2">Inicia un chat</p>
		<button class="cursor-pointer flex items-center justify-center h-10 w-10 bg-gray-200 hover:bg-gray-400 text-white rounded-full transition-all duration-300 ease-in-out" aria-label="Cerrar chat" id="close-chat-widget">
			<i class="fi fi-rr-cross-small"></i>
		</button>
	</div>

	<iframe src="https://server402.islonline.net/live/islpronto/start.html?_s=1&template=dn%3aingesoftnet" class="w-full h-[calc(100%-72px)]"></iframe>
</section>

<script>
	const chatWidget = document.getElementById('chat-widget');
	const closeChatWidget = document.getElementById('close-chat-widget');
	const chatButton = document.querySelector('button[aria-label="Inicia un chat"]');

	chatButton.addEventListener('click', () => {
		chatWidget.classList.add('activo');
	});

	closeChatWidget.addEventListener('click', () => {
		chatWidget.classList.remove('activo');
	});
</script>

<style>
	.section {
		bottom: -100%;
	}

	.section.activo {
		bottom: 8px;
	}

	@media (min-width: 768px) {
		.section.activo {
			bottom: 24px;
		}
	}
</style>
