---
import SectionDouble from '@sections/SectionDouble.astro';
---

<SectionDouble>
	<div slot="left">
		<hgroup class="mb-6 lg:mb-10 xl:mb-18">
			<h2 class="text-2xl lg:text-5xl font-semibold mb-4">Valores corporativos</h2>
			<p class="text-lg">Principios que nos hacen una empresa confiable y en constante crecimiento.</p>
		</hgroup>
	</div>

	<section slot="footer" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-5 items-center justify-between gap-6 lg:gap-10 xl:gap-15">
		<div class="pr-4 transition-all duration-300 ease-in-out">
			<i class="fi fi-tr-hands-heart mb-4 lg:mb-6 text-4xl text-primary-dark"></i>
			<h3 class="text-lg font-medium">Hablamos con la Verdad</h3>
		</div>
		<div class="pr-4 transition-all duration-300 ease-in-out">
			<i class="fi fi-tr-tools mb-4 lg:mb-6 text-4xl text-primary-dark"></i>
			<h3 class="text-lg font-medium">Trabajamos con honestidad</h3>
		</div>
		<div class="pr-4 transition-all duration-300 ease-in-out">
			<i class="fi fi-tr-heart-partner-handshake mb-4 lg:mb-6 text-4xl text-primary-dark"></i>
			<h3 class="text-lg font-medium">Servimos con seriedad</h3>
		</div>
		<div class="pr-4 transition-all duration-300 ease-in-out">
			<i class="fi fi-tr-bulb mb-4 lg:mb-6 text-4xl text-primary-dark"></i>
			<h3 class="text-lg font-medium">Solucionamos con compromiso</h3>
		</div>
		<div class="pr-4 transition-all duration-300 ease-in-out">
			<i class="fi fi-tr-user-trust mb-4 lg:mb-6 text-4xl text-primary-dark"></i>
			<h3 class="text-lg font-medium">Actuamos con Integridad</h3>
		</div>
	</section>
</SectionDouble>
