---
import GeneralSection from '@components/GeneralSection.astro';
import GeneralContainer from '@components/GeneralContainer.astro';
import Document from '/documents/Certificado-ambiental-INGESOFTNET-SAS-20230912_17312837.pdf';
---

<GeneralSection style="padding-bottom: 0;">
	<GeneralContainer>
		<div class="card relative bg-text min-h-[100px] p-6 lg:p-8 xl:p-15 rounded-4xl">
			<div>
				<p class="text-2xl lg:text-3xl mb-8 lg:mb-10 text-white">Certificado ambiental <strong class="font-semibold">IngeSoftNet S.A.S.</strong></p>

				<div class="flex flex-wrap gap-8 items-center">
					<a class="flex items-center gap-2 text-sm lg:text-lg text-white bg-primary py-2 px-6 rounded-full hover:bg-accent transition-all duration-300 ease-in-out active:scale-95 cursor-pointer" href={Document} title="Enlace que descarga el certificado de IngeSoftNet S.A.S." target="_blank" rel="noopener noreferrer" download>
						<p>Descargar certificado</p>
						<i class="fi fi-rr-file-download"></i>
					</a>

					<a class="flex items-center gap-2 text-sm lg:text-lg border text-white border-white hover:bg-white hover:border-white hover:text-text py-2 px-6 rounded-full transition-all duration-300 ease-in-out active:scale-95 cursor-pointer" href={'/IngeSoftNet' + Document} target="_blank" rel="noopener noreferrer" title="Enlace para ver el certificado">
						<p>Ver certificado</p>
					</a>
				</div>
			</div>
		</div>
	</GeneralContainer>
</GeneralSection>

<style>
	.card {
		position: relative;
		z-index: 1;
	}

	.card::before {
		content: '';
		position: absolute;
		bottom: -50px;
		right: 20%;
		z-index: -1;
		width: 100px;
		height: 100px;
		border-radius: 100px;
		-webkit-animation-name: ripple;
		animation-name: ripple;
		-webkit-animation-duration: 2s;
		animation-duration: 2s;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		-webkit-animation-delay: 0.3s;
		animation-delay: 0.3s;
		background-color: rgba(255, 255, 255, 0.4);
	}

	@-webkit-keyframes ripple {
		0% {
			box-shadow:
				0 0 0 0 rgba(255, 255, 255, 0.1),
				0 0 0 20px rgba(255, 255, 255, 0.1),
				0 0 0 40px rgba(255, 255, 255, 0.1),
				0 0 0 60px rgba(255, 255, 255, 0.1);
		}

		100% {
			box-shadow:
				0 0 0 20px rgba(255, 255, 255, 0.1),
				0 0 0 40px rgba(255, 255, 255, 0.1),
				0 0 0 60px rgba(255, 255, 255, 0.1),
				0 0 0 80px rgba(255, 255, 255, 0);
		}
	}

	@keyframes ripple {
		0% {
			box-shadow:
				0 0 0 0 rgba(255, 255, 255, 0.1),
				0 0 0 20px rgba(255, 255, 255, 0.1),
				0 0 0 60px rgba(255, 255, 255, 0.1),
				0 0 0 100px rgba(255, 255, 255, 0.1),
				0 0 0 140px rgba(255, 255, 255, 0.1);
		}

		100% {
			box-shadow:
				0 0 0 20px rgba(255, 255, 255, 0.1),
				0 0 0 60px rgba(255, 255, 255, 0.1),
				0 0 0 100px rgba(255, 255, 255, 0.1),
				0 0 0 140px rgba(255, 255, 255, 0.1),
				0 0 0 180px rgba(255, 255, 255, 0);
		}
	}
</style>
