---
import GeneralSection from '@components/GeneralSection.astro';
import GeneralContainer from '@components/GeneralContainer.astro';
import { Image } from 'astro:assets';
import video from '@assets/VideoLosNinosdelManana.mp4';
import child1 from '@assets/children.png';
---

<GeneralSection>
	<GeneralContainer>
		<section class="flex flex-col-reverse md:flex-row gap-4 md:gap-8 lg:gap-16 items-center max-w-[1024px] mx-auto">
			<div class="ml-12 lg:ml-20">
				<div class="relative flex justify-center w-full">
					<div class="relative border-10 border-primary-light rounded-4xl bg-white lg:min-w-[300px] max-w-md">
						<video class="max-h-[250px] lg:max-h-[500px] rounded-[22px]" src={video} controls controlslist="nodownload"></video>
						<Image src={child1} alt="" title="" class="absolute top-0 right-[100%] -z-10 max-w-[150px] w-auto h-full max-h-[500px]" />
					</div>
				</div>
			</div>
			<div>
				<h2 class="text-2xl lg:text-2xl font-semibold mb-4">Fundación Los niños del mañana</h2>
				<p class="mb-3">En la Fundación Los Niños del Mañana, creemos en un futuro brillante, sostenible y lleno de oportunidades para todos los niños. Nuestra misión es construir puentes hacia un mañana mejor, proporcionando apoyo integral a niños y familias en situaciones vulnerables.</p>
				<p class="font-medium mb-3">Únete a Nosotros en esta Jornada Transformadora.</p>
				<p class="mb-3">La Fundación Los Niños del Mañana te invita a ser parte de este viaje hacia un futuro lleno de esperanza y posibilidades. Descubre cómo puedes marcar la diferencia y ser parte del cambio que queremos ver en el mundo.</p>
				<p>¡Gracias por ser parte de la Fundación Los Niños del Mañana y por creer en un mañana mejor para todos!</p>
			</div>
		</section>
	</GeneralContainer>
</GeneralSection>
