---
import CarruselClients from '@components/CarruselClients.astro';
import ImgHero from '@public/images/oficinas-de-ingesoftnet.jpg';
import { Image } from 'astro:assets';
---

<section class="relative text-center overflow-hidden bg-cover bg-center bg-no-repeat flex flex-col justify-between" id="hero-principal">
	<section class="max-w-5xl lg:mx-auto px-6 pt-32 pb-10 2xl:pb-28 lg:pt-50 2xl:pt-64">
		<slot />
	</section>

	<CarruselClients />

	<!-- background -->
	<div class="absolute inset-0 -z-10 before:content-[''] before:absolute before:inset-0 before:bg-[url('/src/assets/noise.png')] bg-cover bg-center after:content-[''] after:opacity-55 after:absolute after:inset-0 after:bg-black after:z-0">
		<picture>
			<!-- <source media="(min-width: 515px)" srcset="" width="1290" height="515" /> -->
			<Image src={ImgHero} class="w-full h-full object-cover grayscale-40" title="Imagen de fondo ingesoftnet" width="2000" height="1125" alt="Banner principal" loading="eager" />
		</picture>
	</div>
</section>

<script>
	// Importamos gsap
	import { gsap } from 'gsap';
	import { SplitText } from 'gsap/SplitText';
	document.addEventListener('DOMContentLoaded', () => {
		// Registramos el plugin
		gsap.registerPlugin(SplitText);

		// Animaci贸n del Hero
		const title = gsap.timeline();
		const subtitle = gsap.timeline();
		const mySplitTextTitle = SplitText.create('#hero-principal h1', { type: 'words,chars' });
		const mySplitTextSubtitle = document.querySelector('#hero-principal p');
		const carruselClientes = document.getElementById('hero-carrusel');
		const charsTitle = mySplitTextTitle.chars;

		title.from(charsTitle, {
			duration: 0.5,
			opacity: 0,
			y: 100,
			rotationY: 90,
			filter: 'blur(10px)',
			transformOrigin: '0% 50%',
			ease: 'power4.out',
			stagger: 0.02,
		});

		subtitle.from(mySplitTextSubtitle, {
			delay: 1,
			duration: 0.5,
			opacity: 0,
			y: 20,
			ease: 'power4.out',
		});

		// Establecer estado inicial del bot贸n
		gsap.set('#hero-principal a', { opacity: 0, y: 20, scale: 0.8 });

		// Animaci贸n para el bot贸n
		title.to('#hero-principal a', {
			duration: 0.5,
			opacity: 1,
			y: 0,
			scale: 1,
			ease: 'power4.out',
		});

		title.from(carruselClientes, {
			duration: 0.5,
			opacity: 0,
			y: 20,
			ease: 'power4.out',
		});
	});
</script>
