---
import CarruselClients from '@components/CarruselClients.astro';
import ImgHero from '@assets/oficinas-de-ingesoftnet.webp';
import ImgHeroSm from '@assets/oficinas-de-ingesoftnet-sm.webp';
import ImgHeroMd from '@assets/oficinas-de-ingesoftnet-md.webp';
import { Image } from 'astro:assets';
---

<section class="section relative text-center overflow-hidden bg-cover bg-center bg-no-repeat flex flex-col justify-between" id="hero-principal">
	<section class="max-w-5xl lg:mx-auto px-4 pt-32 pb-10 2xl:pb-28 lg:pt-50 2xl:pt-64">
		<slot />
	</section>

	<CarruselClients className="element-fade-in" />

	<!-- background -->
	<div class="absolute inset-0 -z-10 before:content-[''] before:absolute before:inset-0 before:bg-[url('/src/assets/noise.webp')] bg-cover bg-center after:content-[''] after:opacity-55 after:absolute after:inset-0 after:bg-black after:z-0">
		<picture>
			<source media="(min-width: 1024px)" srcset={ImgHero.src} width="1920" height="1281" />
			<source media="(min-width: 768px)" srcset={ImgHeroMd.src} width="960" height="641" />
			<Image src={ImgHeroSm} class="w-full h-full object-cover grayscale-40" title="Imagen de fondo ingesoftnet" width="674" height="450" alt="Banner principal" loading="eager" fetchpriority="high" decoding="async" />
		</picture>
	</div>
</section>
