---
import GeneralSection from '@components/GeneralSection.astro';
import GeneralContainer from '@components/GeneralContainer.astro';
import Sello_Bosque_Nagal from '@assets/Sello_Bosque_Nagal.png';
import { Image } from 'astro:assets';
import imageBackground from '@assets/bg-responsabilidad.png';
---

<GeneralSection classList="bg-text relative overflow-hidden parallax-section">
	<GeneralContainer>
		<div class="flex flex-column md:flex-row max-w-4xl mx-auto gap-6 items-center">
			<div>
				<figure class="lg:min-w-[150px]">
					<Image class="w-full aspect-square object-contain" src={Sello_Bosque_Nagal} width="300" height="289" title="Imagen sello Bosque Nagal" loading="lazy" alt="Sello Bosque Nagal" />
				</figure>
			</div>
			<div>
				<h2 class="text-2xl lg:text-3xl font-semibold mb-4 text-white">¿Qué significa ser una Eco-Empresa?</h2>
				<p class="text-white">Ser Eco Empresa significa apoyar a las familias campesinas en la siembra de árboles, conservar más de 87.500 árboles adultos y dos nacimientos hídricos en nuestro bosque. Además obtienes grandes beneficios.</p>
			</div>
		</div>
		<Image src={imageBackground} alt="Background Image" class="parallax-img absolute top-1/2 left-0 transform -translate-y-1/2 w-full h-[160%] z-10 object-cover opacity-[0.05]" />
	</GeneralContainer>
</GeneralSection>

<script>
	import gsap from 'gsap';
	import { ScrollTrigger } from 'gsap/ScrollTrigger';

	document.addEventListener('DOMContentLoaded', () => {
		gsap.registerPlugin(ScrollTrigger);

		// Parallax de la imagen
		gsap.to('.parallax-img', {
			yPercent: 50,
			opacity: 0,
			ease: 'none',
			scrollTrigger: {
				trigger: 'body', // o el contenedor padre
				start: 'top top',
				end: 'bottom top',
				scrub: 1,
			},
		});
	});
</script>
